<%- include("../partials/header") -%>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">YelpCamp</p>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="img-thumbnail">
				<img class="img-responsive" src= "<%= campground.image %>">
				<div class="caption">
					<h4 class="float-right">$<%= campground.price%>/night</h4>
					<h4><a href=""><%=campground.name %></a></h4>
					<p><%=campground.description %></p>
					<p> 
						<em>Submitted By: <%=campground.author.username %>, 
							<%=moment(campground.createdAt).fromNow() %></em>
					</p>
					<% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
						<a class= "btn btn-outline-primary" href ="/campgrounds/<%=campground._id%>/edit">Edit</a>
					<form id="delete" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
						<button class= "btn btn-outline-danger"> Delete</button>
					</form>
					<% } %>
				</div>
			</div>
			<div class="card">
  				<div class="card-header">
	  				<div class="text-right">
    					<a class="btn btn-success" 
					   href="/campgrounds/<%= campground._id %>/comments/new">
					   Add new comment</a>
  					</div>
					<% campground.comments.forEach(function(comment){ %>
					<div class="row">
						<div class="col-md-12 card-body">
							<strong><%= comment.author.username %></strong>
							<span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
							<p class="mb-0">
								<%=comment.text %>
							</p>
							<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
							<a href="/campgrounds/<%= campground._id %>/comments/<%=comment._id%>/edit">
									Edit
							</a>
							<form id="delete" action="/campgrounds/<%= campground._id %>/comments/<%=comment._id%>?_method=DELETE"
								  method="POST">
								<input id="delete-form" type="submit" value ="Delete">
							</form>
							<% } %>
						</div>
					</div>
					<% }) %>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") -%>

	 